/*
* @Author: GARNET
* @Date:   2018-03-29 22:52:41
* @Last Modified by:   GARNET
* @Last Modified time: 2018-05-18 15:26:45
*/


.q {
	background-color: pink;

}
/* 	span {
		color: #fff;
		font-size: 24px;
	}
 */
