<!DOCTYPE html>
<html>
<head>
<%= require('./layout/head-common.html') %>
<title>HappyStore电商平台</title>
</head>
<body>
	<div class="app-hs">
		<%= require('./layout/top-nav.html') %>

		<!-- <a href="javascript:;" class="link">test</a> -->
		<!-- <a href="javascript:;" class="link-text">test</a> -->
		<!-- <div class="el-icon-loading"></div> -->
<!-- 		<div>
			<i class="el-icon-edit"></i>
			<i class="el-icon-share"></i>
			<i class="el-icon-delete"></i>
		</div> -->
	</div>
	<%= require('./layout/footer.html') %>
</body>
</html>