<!DOCTYPE html>
<html>
<head>
<%= require('./layout/meta-common.html') %>
<title>开心购物-找回密码</title>
</head>
<body>	
	<div class="app-hs">
		<%= require('./layout/header.html') %>
		<div class="user-entry password-reset">
			<div class="entry-con">
				<div class="entry-title">找回密码</div>
				<!-- 错误提示 -->
				<div class="err-item">
					<div class="err-con hide">
						<i class="el-icon-error"></i>
						<span class="err-msg"></span>
					</div>
				</div>
				<!-- 步骤 -->
				<div class="step-con step-one"></div>
				<div class="step-con step-two"></div>
				<div class="step-con step-three"></div>
				<div class="link-item">
					<a class="link register" href="./user-login.html">返回登录>></a>
				</div>
					
			</div>
		</div>
	</div>
	<%= require('./layout/footer.html') %>
</body>
</html>