<!DOCTYPE html>
<html>
<head>
<%= require('./layout/head-common.html') %>
<title>开心购物-操作结果</title>
</head>
<body>	
	<div class="app-hs">
		<%= require('./layout/top-nav.html') %>
		<%= require('./layout/header.html') %>
		<div class="wrap">
			123
			
		</div>
	</div>
	<%= require('./layout/footer.html') %>
</body>
</html>



			<!-- <a href="javascript:;" class="link">test</a> -->
			<!-- <a href="javascript:;" class="link-text">test</a> -->
			<!-- <div class="el-icon-loading"></div> -->
	<!-- 		<div>
				<i class="el-icon-edit"></i>
				<i class="el-icon-share"></i>
				<i class="el-icon-delete"></i>
			</div> -->