<!DOCTYPE html>
<html>
<head>
<%= require('./layout/meta-common.html') %>
<title>开心购物-用户注册</title>
</head>
<body>	
	<div class="app-hs">
		<%= require('./layout/header.html') %>
		<div class="user-entry">
			<div class="entry-con">
				<div class="entry-title">用户注册</div>
				<!-- 错误提示 -->
				<div class="err-item">
					<div class="err-con hide">
						<i class="el-icon-error"></i>
						<span class="err-msg"></span>
					</div>
					<div class="ok-con hide">
						<i class="el-icon-success"></i>
						<span class="ok-msg"></span>
					</div>
				</div>
				<!-- 表单 -->
				<ul>
					<li class="entry-item">
						<label class="user-label" for="username">
							<!-- <i class="fa fa-user"></i> -->
							<i class="el-icon-setting"></i>
						</label>
						<input type="text" class="user-content" id="username" placeholder="请输入用户名" autocomplete="off">
					</li>
					<li class="entry-item">
						<label class="user-label" for="password">
							<!-- <i class="fa fa-lock"></i> -->
							<i class="el-icon-setting"></i>
						</label>
						<input type="password" class="user-content" id="password" placeholder="请输入密码">
					</li>
					<li class="entry-item">
						<label class="user-label" for="passwordConfirm">
							<!-- <i class="fa fa-lock"></i> -->
							<i class="el-icon-setting"></i>
						</label>
						<input type="password" class="user-content" id="passwordConfirm" placeholder="请再次输入密码">
					</li>
					<li class="entry-item">
						<label class="user-label" for="cellphone">
							<!-- <i class="fa fa-user"></i> -->
							<i class="el-icon-setting"></i>
						</label>
						<input type="text" class="user-content" id="cellphone" placeholder="请输入手机号" autocomplete="off">
					</li>
					<li class="entry-item">
						<label class="user-label" for="email">
							<!-- <i class="fa fa-user"></i> -->
							<i class="el-icon-setting"></i>
						</label>
						<input type="text" class="user-content" id="email" placeholder="请输入邮箱" autocomplete="off">
					</li>
					<li class="entry-item">
						<label class="user-label" for="question">
							<!-- <i class="fa fa-user"></i> -->
							<i class="el-icon-setting"></i>
						</label>
						<input type="text" class="user-content" id="question" placeholder="请输入密码提示问题" autocomplete="off">
					</li>
					<li class="entry-item">
						<label class="user-label" for="answer">
							<!-- <i class="fa fa-user"></i> -->
							<i class="el-icon-setting"></i>
						</label>
						<input type="text" class="user-content" id="answer" placeholder="请输入密码提示问题答案" autocomplete="off">
					</li>




				</ul>

				<button type="button" class="el-button el-button--primary el-button--medium no-radius" id="submitRegister">立即注册</button>

				<div class="link-item">
					<a class="link pass-forget" href="./user-login.html">已有账号，去登录>></a>
				</div>
					
			</div>
		</div>
	</div>
	<%= require('./layout/footer.html') %>
</body>
</html>