/*
* @Author: GARNET
* @Date:   2018-03-29 13:27:56
* @Last Modified by:   GARNET
* @Last Modified time: 2018-04-13 14:22:55
*/

html {
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow: auto;
}

body {
	min-width: 1080px;
	font-size: 14px;
	position: relative;
    background-color: #f6f6f6;
}
.wrap {
	width: 1080px;
	margin: 0 auto;
}

/* 链接 */
.link {
	color: #333;
	cursor: pointer;
}
.link:hover {
	color: #F56C6C;
}
.link-text {
	color: #999;
	cursor: default;
}

/* 主要样式 */
.app-hs {

}
/* 头部-登录注册 */
.app-hs .header-left {
	float: left;
}
.app-hs .header-left a {
	margin-right: 10px;
}

.app-hs .user.login {
	display: none;
}
/* 头部-登录注册 */
.el-header {
	height: 30px;
	line-height: 30px;
	padding: 0 120px;
	/* border-bottom: 1px solid #ddd; */
	background-color: #eee;
}
.el-header a {
	color: #999;
}

/* 头部-购物车 */
.app-hs .cart-list {
	float: right;
}
.app-hs .cart-list li {
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}

/* 头部-search */
.header {
	padding: 30px 10px;
	text-align: center;
}
.header .logo {
	display: inline-block;
	vertical-align: middle;
	font-size: 26px;
	font-weight: 700;
	margin-right: 30px;
	color: #F56C6C;
	/* width: 64px; */
	/* height: 64px; */
	/* background: url(../images/pic.png) no-repeat 0 0; */
}
.header .search-box {
	font-size: 0;
	display: inline-block;
	vertical-align: middle;
}
.header .search-input {
	width: 550px;
	height: 36px;
	line-height: 36px;
	font-size: 15px;
	padding: 0 10px;
	border: 2px solid #F56C6C;
}
.header .search-btn {
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 0;
}

/* =========================================================== */
/* 左侧二级菜单 */
.el-container {

}
.el-aside {
	width: 150px;

}
.el-menu {
	min-height: 200px;
	padding: 15px 0;
	border: 0;
	
}
.el-menu li {
	overflow: hidden;
	padding-left: 14px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 5px;
	font-size: 0;	
}
.el-menu li a {
	font-size: 14px;
	color: #626262;
	-webkit-transition: color .2s ease;
	-o-transition: color ease .2s;
	-moz-transition: color ease .2s;
	transition: color .2s ease;
}
.el-menu-item.is-active a {
	color: #f56c6c;
}












.footer {
	margin: 15px 0;
	text-align: center;
}


/* =========================================================== */










.el-icon-loading {
	font-size: 38px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -26px;
	margin-top: -26px;
	/* color: #409EFF; */
}

















/* =========================================================== */
.mr10 {
	margin-right: 10px;
}

.mr15 {
	margin-right: 15px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before {
	display: table;
	content: "";
	clear: both;
}

.clearfix:after {
	display: table;
	content: "";
	clear: both;
}

/* =========================================================== */


.color-red {
	color: #d52a29;
}

.color-orange {
	color: #ea7130;
}

.color-cyan {
	color: #26a2c1;
}

.color-purple {
	color: #7963e6;
}

.color-blue {
	color: #497ce3;
}

.color-green {
	color: #6aab20;
}

.loading {
	display: inline-block;
	background: url(../images/loading.gif) no-repeat center;
	width: 64px;
	height: 48px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	margin-top: -24px;
}

