/*
* @Author: GARNET
* @Date:   2018-03-29 13:27:56
* @Last Modified by:   GARNET
* @Last Modified time: 2018-04-11 16:45:50
*/

html {
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow: auto;
}

body {
	min-width: 1080px;
	font-size: 14px;
	position: relative;
    background-color: #f6f6f6;
}

/* 链接 */
.link {
	color: #333;
	cursor: pointer;
}
.link:hover {
	color: #F56C6C;
}
.link-text {
	color: #999;
	cursor: default;
}

/* 主要样式 */
.app-hs {

}
/* 头部-left */
.app-hs .header-left {
	float: left;
}
.app-hs .header-left a {
	margin-right: 10px;
}

.app-hs .user.login {
	display: none;
	
}
/* 头部-购物车 */
.app-hs .cart-list {
	float: right;
}
.app-hs .cart-list li {
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
	
}


















.footer {
	margin: 15px 0;
	text-align: center;
}


// ===========================================================
.mr10 {
	margin-right: 10px;
}

.mr15 {
	margin-right: 15px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before {
	display: table;
	content: "";
	clear: both;
}

.clearfix:after {
	display: table;
	content: "";
	clear: both;
}

// ===========================================================


.color-red {
	color: #d52a29;
}

.color-orange {
	color: #ea7130;
}

.color-cyan {
	color: #26a2c1;
}

.color-purple {
	color: #7963e6;
}

.color-blue {
	color: #497ce3;
}

.color-green {
	color: #6aab20;
}

.loading {
	display: inline-block;
	background: url(../images/loading.gif) no-repeat center;
	width: 64px;
	height: 48px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	margin-top: -24px;
}

