/*
* @Author: GARNET
* @Date:   2018-03-29 13:27:56
* @Last Modified by:   GARNET
* @Last Modified time: 2018-03-29 13:27:58
*/
html {
	width: 100%;
	height: 100%;
	overflow: auto;
}
body {
	background-color: #ccc;
}

