/*
* @Author: GARNET
* @Date:   2018-03-29 13:26:26
* @Last Modified by:   GARNET
* @Last Modified time: 2018-04-02 13:41:58
*/

.pic {
	width: 64px;
	height: 64px;
	background: url(../../assets/images/pic.png) no-repeat 0 0;
}


